---
import InteractiveMap from '../components/InteractiveMap.tsx';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<div class="p-8 w-full h-[85vh]">	
			<InteractiveMap client:load>
		</div>
	</main>
</Layout>